## Proces modelowania

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Sztuczny zbiór danych do testów

In [100]:
# n = 150
# wynajem = random.sample(range(1000, 10000), n)
# df = pd.DataFrame(wynajem, columns=['wynajem'])
# df['powierzchnia'] = random.choices(range(20, 100), k=n)
# df['l_pokoi'] = random.choices(range(1, 6), k=n)
# df['pietro'] = random.choices(range(1, 15), k=n)
# data_od = ['2022-12-21','2022-12-31','2023-01-01','2022-12-11']
# df['data_od'] = random.choices(data_od, k=n)
# obsluga_zdalna = ['tak','nie']
# df['obsluga_zdalna'] = random.choices(obsluga_zdalna, k=n)
# df['czynsz'] = random.choices(range(300, 1500), k=n)
# df['kaucja'] = random.choices(range(1000, 8000), k=n)
# rodzaj_zabudowy = ['blok', 'apartamentowiec', 'kamienica']
# df['rodzaj_zabudowy'] = random.choices(rodzaj_zabudowy, k=n)
# bot = ['balkon', 'taras', 'brak', 'ogród']
# df['bot'] = random.choices(bot, k=n)
# wykonczenie = ['do zamieszkania', 'do zamieszkania', 'do zamieszkania', 'stan developerski']
# df['wykonczenie'] = random.choices(wykonczenie, k=n)
# df.head()

### Wczytanie zescrapowanych danych i wstepne oczyszczenie zbioru

In [101]:
df = pd.read_csv('data_trojmiasto.csv')

In [102]:
df.drop(df.columns[[0, 14, 15, 16]],axis=1,inplace=True)

In [103]:
# "Dodatkowe informacje teoretycznie mogłyby być ciekawe, ale nie mam czasu na obróbkę tekstu"

# df.iloc[:,16].unique()

In [104]:
df.rename(columns = {'Cena':'price',
                     'Liczba pokoi':'rooms',
                     'Piętro':'floor',
                     'Rok budowy':'year',
                     'Jestem':'landlord_type',
                     'Rodzaj nieruchomości':'local_type',
                     'Umeblowane':'furnished',
                     'Liczba pięter w budynku':'levels',
                     'Powierzchnia':'area_size',
                     'Niezależne pokoje':'indep_rooms',
                     'Dostępne od':'availability_date',
                     'Kaucja':'deposit',
                     'Typ ogrzewania':'heating_type',
                     'Liczba osób w pokoju':'people_limit',
                     'Powierzchnia działki':'land_area'}, inplace = True)

In [105]:
df['price'] = df['price'].str.replace(' ', '')
df['price'] = df['price'].str.extract('(\d+)')
df['price'] = df['price'].astype('int')
df['area_size'] = df['area_size'].str.replace(',', '.')
df['area_size'] = df['area_size'].str.replace(' ', '')
df['area_size'] = df['area_size'].astype('float')
# df['rooms'] = df['rooms'].astype('int')
# df['year'] = df['year'].astype('int')

In [106]:
df.head()

,price,rooms,floor,year,landlord_type,local_type,furnished,levels,area_size,indep_rooms,availability_date,deposit,heating_type,people_limit,land_area
0,4500,1.0,Parter,1900.0,Osobą prywatną,Lokal handlowy,Nie,3.0,50.0,Tak,Zaraz,NaN,NaN,NaN,NaN
1,2500,1.0,2,2021.0,Osobą prywatną,Mieszkanie,Tak,17.0,31.0,NaN,02. 01. 2023,2500.0,Miejskie,NaN,NaN
2,2400,2.0,4,NaN,Firmą,Mieszkanie,Tak,4.0,44.0,NaN,NaN,NaN,C. o. miejskie,NaN,NaN
3,2300,2.0,2,2022.0,Firmą,Mieszkanie,Tak,4.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2200,2.0,Parter,2020.0,Firmą,Mieszkanie,Tak,4.0,30.0,NaN,01-01-2023,NaN,NaN,NaN,NaN

In [107]:
len(df)

2859

In [108]:
print('Braki:')
print('%       ','N     ','VAR')
for i in df.columns:
    print("{:4.2f}".format(round(len(df[df[i].isna()]) / len(df), 2)), "  ", "{:4}".format(len(df[df[i].isna()])), "  ",i)

Braki:
%        N      VAR
0.00       0    price
0.32     906    rooms
0.18     509    floor
0.29     816    year
0.00       0    landlord_type
0.00       2    local_type
0.06     175    furnished
0.28     790    levels
0.00       0    area_size
0.86    2452    indep_rooms
0.73    2077    availability_date
0.76    2175    deposit
0.39    1124    heating_type
0.92    2627    people_limit
0.91    2605    land_area

In [109]:
# Usuwam zmienne z większym odsetkiem braków niż 70
# Usuwam zmienną heating_type z uwagi na dużą ilość braków oraz mnogość typów co utrudnia standaryzację
dfm = df[['price','rooms','floor','year','landlord_type','local_type','furnished','levels','area_size']]

In [110]:
dfm = dfm[~(dfm['rooms'].isna()) & ~(dfm['floor'].isna()) & ~(dfm['furnished'].isna()) & ~(dfm['local_type'].isna()) & ~(dfm['year'].isna()) & ~(dfm['levels'].isna())]

In [111]:
dfm = dfm[(dfm.price >= dfm.price.quantile(.10)) & (dfm.price <= dfm.price.quantile(.90))]

In [112]:
dfm = dfm[dfm['levels'] < 3000]

In [113]:
print('Braki:')
print('%       ','N     ','VAR')
for i in dfm.columns:
    print("{:4.2f}".format(round(len(dfm[dfm[i].isna()]) / len(dfm), 2)), "  ", "{:4}".format(len(dfm[dfm[i].isna()])), "  ",i)

Braki:
%        N      VAR
0.00       0    price
0.00       0    rooms
0.00       0    floor
0.00       0    year
0.00       0    landlord_type
0.00       0    local_type
0.00       0    furnished
0.00       0    levels
0.00       0    area_size

### Badanie wariantów zmiennych

In [114]:
dfm.head()

,price,rooms,floor,year,landlord_type,local_type,furnished,levels,area_size
0,4500,1.0,Parter,1900.0,Osobą prywatną,Lokal handlowy,Nie,3.0,50.0
1,2500,1.0,2,2021.0,Osobą prywatną,Mieszkanie,Tak,17.0,31.0
3,2300,2.0,2,2022.0,Firmą,Mieszkanie,Tak,4.0,38.0
4,2200,2.0,Parter,2020.0,Firmą,Mieszkanie,Tak,4.0,30.0
6,2950,2.0,6,1972.0,Osobą prywatną,Mieszkanie,Tak,11.0,38.0

In [115]:
len(dfm)

1143

In [116]:
# usunąć outliery

dfm.price.describe()

count    1143.000000
mean     3354.982502
std      1366.709336
min      1950.000000
25%      2500.000000
50%      2900.000000
75%      3700.000000
max      8592.000000
Name: price, dtype: float64

In [117]:
dfm.price.quantile(.90)

5500.0

In [118]:
len(dfm[(dfm.price >= dfm.price.quantile(.10)) & (dfm.price <= dfm.price.quantile(.90))])

950

In [119]:
dfm.groupby(['rooms'])['rooms'].count()

rooms
1.0    201
2.0    609
3.0    251
4.0     60
5.0     18
6.0      2
7.0      1
9.0      1
Name: rooms, dtype: int64

In [120]:
dfm.groupby(['floor'])['floor'].count()

floor
-2          1
1         260
10         17
11          7
12         10
13          2
14          5
15          6
16          7
17          1
2         205
3         149
4         119
5          41
6          21
7          21
8          13
9          14
Parter    244
Name: floor, dtype: int64

In [121]:
dfm.floor.unique()

array(['Parter', '2', '6', '17', '1', '4', '3', '5', '9', '8', '16', '15',
       '11', '7', '12', '10', '14', '-2', '13'], dtype=object)

In [122]:
dfm.year.describe()

count    1143.000000
mean     1998.595801
std        69.750991
min        19.000000
25%      1990.000000
50%      2012.000000
75%      2020.000000
max      2023.000000
Name: year, dtype: float64

In [123]:
dfm.landlord_type.unique()

array(['Osobą prywatną', 'Firmą'], dtype=object)

In [124]:
dfm.groupby(['local_type'])['local_type'].count()

local_type
Biuro                    85
Dom piętro domu           1
Lokal biurowy             2
Lokal gastronomiczny      1
Lokal handlowy            6
Lokal usługowy           83
Magazyn                   4
Mieszkanie              946
Obiekt                    2
Pokój                     2
Sklep                    11
Name: local_type, dtype: int64

In [125]:
dfm.furnished.unique()

array(['Nie', 'Tak'], dtype=object)

In [126]:
dfm.levels.describe()

count    1143.000000
mean        5.186352
std         3.859315
min         1.000000
25%         3.000000
50%         4.000000
75%         5.000000
max        20.000000
Name: levels, dtype: float64

In [127]:
dfm.groupby(['levels'])['levels'].count()

levels
1.0      49
2.0     104
3.0     246
4.0     331
5.0     157
6.0      50
7.0      24
8.0      16
9.0       5
10.0     66
11.0      9
12.0      4
13.0      2
14.0      3
16.0     17
17.0     46
18.0     13
20.0      1
Name: levels, dtype: int64

In [128]:
dfm.sort_values(by=['levels']).tail(2)

,price,rooms,floor,year,landlord_type,local_type,furnished,levels,area_size
258,2400,1.0,14,2017.0,Firmą,Mieszkanie,Nie,18.0,29.0
437,3000,2.0,16,2007.0,Osobą prywatną,Mieszkanie,Tak,20.0,42.0

In [129]:
dfm.area_size.describe()

count    1143.000000
mean       54.830700
std        26.902303
min        15.000000
25%        40.000000
50%        48.000000
75%        62.380000
max       265.000000
Name: area_size, dtype: float64

In [130]:
# dfm.groupby(['heating_type'])['heating_type'].count()

### Przekształcanie zmiennych

In [131]:
# Typ lokalu
# Po analizie zmiana na typu: mieszkanie, dom, biznes, parking, inne
mieszkalne = ['Mieszkanie','Lokal hotelowy','Pokój','Dom piętro domu','Dom bliźniak','Pokój']
biznes = ['Lokal handlowy','Lokal usługowy', 'Biuro', 'Magazyn', 'Sklep','Lokal gastronomiczny','Lokal biurowy']
inne = ['Obiekt'] 

dfm['s_local_type'] = np.nan

for i in range(0, len(dfm)):
    if dfm.iloc[i, 5] in mieszkalne:
        dfm.iloc[i, 9] = 'mieszkalne'
    if dfm.iloc[i, 5] in biznes:
        dfm.iloc[i, 9] = 'komercyjne'
    if dfm.iloc[i, 5] in inne:
        dfm.iloc[i, 9] = 'inne'

In [132]:
# Piętro
# Po analizie zmiana na warianty: parter, 1, 2, 3, 4, 5-10, >10
parter = ['Parter','-2']
plus5 = ['6','5','9','8','7','10']
plus10 = ['11','12','14','13','17','16','15']

dfm['s_floor'] = np.nan

for i in range(0, len(dfm)):
    if dfm.iloc[i, 2] in parter:
        dfm.iloc[i, 10] = '<=0'
    if dfm.iloc[i, 2] == '1':
        dfm.iloc[i, 10] = '1'
    if dfm.iloc[i, 2] == '2':
        dfm.iloc[i, 10] = '2'
    if dfm.iloc[i, 2] == '3':
        dfm.iloc[i, 10] = '3'
    if dfm.iloc[i, 2] == '4':
        dfm.iloc[i, 10] = '4'
    if dfm.iloc[i, 2] in plus5:
        dfm.iloc[i, 10] = '5-10'
    if dfm.iloc[i, 2] in plus10:
        dfm.iloc[i, 10] = '>10'

In [133]:
# Pokoje
# Po analizie zmiana na warianty: 1, 2, 3, 4+
dfm['s_rooms'] = np.nan

for i in range(0, len(dfm)):
    if dfm.iloc[i, 1] == 1:
        dfm.iloc[i, 11] = '1'
    if dfm.iloc[i, 1] == 2:
        dfm.iloc[i, 11] = '2'
    if dfm.iloc[i, 1] == 3:
        dfm.iloc[i, 11] = '3'
    if dfm.iloc[i, 1] >= 4:
        dfm.iloc[i, 11] = '4+'

In [134]:
# Rok budowy
# Po analizie zmiana na warianty:  <2005, 2005-2009, 2010-2014, 2015-2019, 2020+
dfm['s_year'] = np.nan

for i in range(0, len(dfm)):
    if dfm.iloc[i, 3] < 1990:
        dfm.iloc[i, 12] = '<1990'
    if (dfm.iloc[i, 3] >= 1990) & (dfm.iloc[i, 3] < 2005):
        dfm.iloc[i, 12] = '1990-2005'
    if (dfm.iloc[i, 3] >= 2005) & (dfm.iloc[i, 3] < 2015):
        dfm.iloc[i, 12] = '2005-2015'
    if (dfm.iloc[i, 3] >= 2015) & (dfm.iloc[i, 3] < 2020):
        dfm.iloc[i, 12] = '2015-2020'
    if dfm.iloc[i, 3] >= 2020:
        dfm.iloc[i, 12] = '>=2020'

In [135]:
dfm.groupby(['s_year'])['year'].count()

s_year
1990-2005    101
2005-2015    232
2015-2020    228
<1990        276
>=2020       306
Name: year, dtype: int64

In [136]:
# Rok budowy
# Po analizie zmiana na warianty:  <2005, 2005-2009, 2010-2014, 2015-2019, 2020+
dfm['s_levels'] = np.nan

for i in range(0, len(dfm)):
    if dfm.iloc[i, 7] <= 2:
        dfm.iloc[i, 13] = '<=2'
    if dfm.iloc[i, 7] == 3:
        dfm.iloc[i, 13] = '3'
    if dfm.iloc[i, 7] == 4:
        dfm.iloc[i, 13] = '4'
    if dfm.iloc[i, 7] == 5:
        dfm.iloc[i, 13] = '5'
    if dfm.iloc[i, 7] >= 6:
        dfm.iloc[i, 13] = '>6'

In [137]:
dfm.groupby(['s_levels'])['levels'].count()

s_levels
3      246
4      331
5      157
<=2    153
>6     256
Name: levels, dtype: int64

In [138]:
# Typ wynajmującego
# standaryzacja
dfm['s_landlord_type'] = np.nan

for i in range(0, len(dfm)):
    if dfm.iloc[i, 4] == 'Osobą prywatną':
        dfm.iloc[i, 14] = 'osoba_prywatna'
    if dfm.iloc[i, 4] == 'Firmą':
        dfm.iloc[i, 14] = 'firma'

In [139]:
dfs = dfm[['price','s_rooms','s_floor','s_year','s_landlord_type','s_local_type','furnished','s_levels','area_size']]

In [140]:
dfs.head(1)

,price,s_rooms,s_floor,s_year,s_landlord_type,s_local_type,furnished,s_levels,area_size
0,4500,1,<=0,<1990,osoba_prywatna,komercyjne,Nie,3,50.0

#### Dummy coding

In [141]:
dfr = pd.get_dummies(dfs)

In [142]:
dfr.head()

,price,area_size,s_rooms_1,s_rooms_2,s_rooms_3,s_rooms_4+,s_floor_1,s_floor_2,s_floor_3,s_floor_4,s_floor_5-10,s_floor_<=0,s_floor_>10,s_year_1990-2005,s_year_2005-2015,s_year_2015-2020,s_year_<1990,s_year_>=2020,s_landlord_type_firma,s_landlord_type_osoba_prywatna,s_local_type_inne,s_local_type_komercyjne,s_local_type_mieszkalne,furnished_Nie,furnished_Tak,s_levels_3,s_levels_4,s_levels_5,s_levels_<=2,s_levels_>6
0,4500,50.0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,1,0,0,0,0
1,2500,31.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1
3,2300,38.0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,1,0,1,0,0,0
4,2200,30.0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,1,0,1,0,0,0
6,2950,38.0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1

## Modelowanie

#### Pakiet Scikit-Learn

In [143]:
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error, mean_absolute_error
# from sklearn import preprocessing

# X = dfm.drop('wynajem', axis=1)
# y = dfm['wynajem']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# skmodel = LinearRegression()

# skmodel.fit(X_train, y_train)

In [144]:
# print("y = "+str(skmodel.intercept_)+" + X * "+str(skmodel.coef_))
# print("\nR-squared = "+str(skmodel.score(X, y)))

In [145]:
# predictions = skmodel.predict(X_test)

# print('mean_squared_error : ', mean_squared_error(y_test, predictions))
# print('mean_absolute_error : ', mean_absolute_error(y_test, predictions))

#### Pakiet statsmodels

In [146]:
import statsmodels.api as sm

X = dfr.drop('price', axis=1)
y = dfr['price']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

In [147]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.629
Model:                            OLS   Adj. R-squared:                  0.622
Method:                 Least Squares   F-statistic:                     86.30
Date:                Thu, 12 Jan 2023   Prob (F-statistic):          6.69e-223
Time:                        22:13:38   Log-Likelihood:                -9307.4
No. Observations:                1143   AIC:                         1.866e+04
Df Residuals:                    1120   BIC:                         1.878e+04
Df Model:                          22
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                            755.7928     71.300     10.600      0.000     615.895     895.690
area_size                         26.5410      1.307     20.309      0.000      23.977      29.105
s_rooms_1                       -175.8115     62.776     -2.801      0.005    -298.982     -52.640
s_rooms_2                       -215.5744     46.931     -4.593      0.000    -307.656    -123.493
s_rooms_3                        364.4616     55.339      6.586      0.000     255.881     473.042
s_rooms_4+                       782.7171     90.513      8.648      0.000     605.123     960.311
s_floor_1                        -33.4247     58.650     -0.570      0.569    -148.502      81.652
s_floor_2                        115.7583     62.457      1.853      0.064      -6.787     238.304
s_floor_3                        177.9951     69.966      2.544      0.011      40.716     315.274
s_floor_4                        163.7268     76.395      2.143      0.032      13.833     313.621
s_floor_5-10                      24.4024     81.614      0.299      0.765    -135.730     184.535
s_floor_<=0                      309.6374     61.914      5.001      0.000     188.157     431.118
s_floor_>10                       -2.3024    132.315     -0.017      0.986    -261.915     257.310
s_year_1990-2005                -329.0008     76.696     -4.290      0.000    -479.485    -178.517
s_year_2005-2015                 116.3137     53.855      2.160      0.031      10.645     221.983
s_year_2015-2020                 587.8158     54.624     10.761      0.000     480.640     694.992
s_year_<1990                    -124.2161     50.325     -2.468      0.014    -222.958     -25.475
s_year_>=2020                    504.8802     51.047      9.890      0.000     404.721     605.039
s_landlord_type_firma            502.8201     43.487     11.563      0.000     417.496     588.145
s_landlord_type_osoba_prywatna   252.9727     47.468      5.329      0.000     159.836     346.109
s_local_type_inne                660.3613    421.180      1.568      0.117    -166.029    1486.751
s_local_type_komercyjne          258.6247    189.779      1.363      0.173    -113.738     630.987
s_local_type_mieszkalne         -163.1931    183.168     -0.891      0.373    -522.584     196.198
furnished_Nie                    467.3097     55.558      8.411      0.000     358.301     576.319
furnished_Tak                    288.4831     48.982      5.890      0.000     192.376     384.590
s_levels_3                        96.9709     55.160      1.758      0.079     -11.258     205.200
s_levels_4                       155.3376     49.079      3.165      0.002      59.040     251.635
s_levels_5                       341.9499     64.839      5.274      0.000     214.730     469.170
s_levels_<=2                    -199.9388     69.683     -2.869      0.004    -336.662     -63.216
s_levels_>6                      361.4733     64.749      5.583      0.000     234.430     488.517
==============================================================================
Omnibus:                      149.462   Durbin-Watson:                   1.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              999.101
Skew:                           0.384   Prob(JB):                    1.12e-217
Kurtosis:                       7.515   Cond. No.                     6.27e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.09e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [148]:
params = model.params

In [158]:
lparams = params.values.tolist()

with open('params.txt', 'w') as fp:
    for item in lparams:
        fp.write("%s\n" % item)
    print('Done')

Done